* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e3b4e;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #ffab00;
}

#but {
  margin-bottom: 20px;
}

#but button {
  padding: 10px 20px;
  background-color: #ffab00;
  border: none;
  border-radius: 5px;
  color: #2e3b4e;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#but button:hover {
  background-color: #ff9100;
}

#Tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-top: 30px;
}

#Tabuleiro div {
  background-color: #ffab00;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #2e3b4e;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#Tabuleiro div:hover {
  background-color: #ff9100;
  transform: scale(1.1);
}

#checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ffab00;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #ffab00;
}

input[type="checkbox"]:checked::after {
  content: '✔';
  display: block;
  text-align: center;
  color: #2e3b4e;
  font-weight: bold;
  font-size: 1.2rem;
}

label {
  margin-left: 10px;
  font-size: 1rem;
  color: #ffab00;
}